# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Uploads
src/uploads/
mongo_backup/

# macOS
.DS_Store

# Logs
*.log
logs/
